APP_NAME='fast-template'
DEBUG=True

PUBLIC_KEY="private-key"
ISSUER="fast-service"
AUDIENCE="other-service"

API_VERSION=1
HOST="localhost"
PORT=8000

DATABASE_USERNAME="dba"
DATABASE_PASSWORD="dbpassword"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_NAME="db"

DATABASE_ASYNC_URL="postgresql+asyncpg://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"
MAX_CONNECTIONS=20
MIN_CONNECTIONS=10
MAX_OVERFLOW=5
TIMEOUT=30

REDIS_DSN="redis://:@localhost:6379/0"
